version: '3.9'

services:
  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5
    restart: unless-stopped
    networks:
      - credit-network

  # DJANGO BACKEND
  web:
    build: .
    command: gunicorn AdminServer.wsgi:application -c gunicorn_config.py
    volumes:
      - .:/code
      - static_volume:/code/staticfiles
      - media_volume:/code/media
      - logs_volume:/code/logs
    ports:
      - "8000:8000"
    env_file:
      - production.env
    environment:
      - DJANGO_ENV=production
    depends_on:
      redis:
        condition: service_healthy
    restart: unless-stopped
    networks:
      - credit-network

  # REACT FRONTEND
  frontend:
    build:
      context: ../frontend
      dockerfile: Dockerfile.prod
    volumes:
       - /app/node_modules # Optimization: Don't mirror node_modules from host
    networks:
      - credit-network
    restart: unless-stopped

  # NGINX GATEWAY
  nginx:
    image: nginx:alpine
    volumes:
      - ./nginx.prod.conf:/etc/nginx/conf.d/default.conf
      - static_volume:/var/www/credit_system/staticfiles
      - media_volume:/var/www/credit_system/media
      - ./ssl:/etc/nginx/ssl
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - web
      - frontend
    restart: unless-stopped
    networks:
      - credit-network

volumes:
  static_volume:
  media_volume:
  logs_volume:

networks:
  credit-network:
    driver: bridge
